#faq-main-section {
    h1 {
        padding: 25px;
        border: 1px dotted $primaryColor;
    }
    .faq-section {
        h1, h2, h3 {
        text-align: center;
        }
        span, .fa {
            font-size: 20px;
            font-weight: 500;
        }
        span {
            color: $primaryColor;
        }
        p {
            background-color: $fourthColor;
            padding: 25px;
            margin: 20px 0;
        }
        li {
            margin: 50px 0;
        }
        h1 {
            margin-bottom: 20px;
        }
        .fa {
            position: relative;
            top: 0;
            left: 0;
        }
    }
}